#about {
    margin-top: 200px;
    height: 50vh;
    font-family: 'Open Sans', sans-serif;
    /* background-color: rgba(255, 255, 255, 0); */
}

 #about::before {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 65%, rgb(255, 255, 255));
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.40;
}

#about::after {
    content: "";
    background-image: url("./images/JayShot.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.40;
    z-index: -1;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    margin-left: 22px;
    margin-right: auto;
    padding: 20px;
}

.about-section > * {
    margin: 8px 0;
}

.about-section > p {
    text-align: center;
    width: 55%;

}

.resume-button {
    background: purple;
    border-radius: 5px;
    margin-top: 24px;
    padding: 12px;
    color: white;
    text-decoration: none;
    transition: 200ms ease-in-out;
}

.resume-button:hover {
    transition: 200ms ease-in-out;
    background: white;
    color: black;
}

.job-link {
    text-decoration: underline;
    font-size: 22px;
}